h1 {
    text-align: center;
    color:#4d4d4d!important;
}
html{
  background-color:  #f2f2f2!important;
}
body{
  background-color: #f2f2f2!important;
}
h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
a{color:black;}
textarea{
  height: 235px!important;
  resize: none!important;
}
.main-true{
  background:  #f2f2f2;
  width: auto;
  height:1300px;
  margin: 0px;
  padding: 0px;
}
.register_container{
  padding-top: 10px;
  margin: 0 auto;
  width: 420px;
  max-width: 100%;
  margin-top: 50px;
}
.login_container{
  padding-top: 10px;
  margin: 0 auto;
  width: 420px;
  max-width: 100%;
  margin-top: 50px;
}

.btn_width{
  width: 100%;
  width: 420px;
  max-width: 100%;
  margin: 30px 0;
  
}
.space{
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;

}


.active{
  display: none!important;
}
.btn1{
  padding-top: 10px;
  width: 210px;
  color: #212529;
  background-color: #fff;
}
.btn2{
  padding-top: 10px;
  width: 205px;
  color: #212529;
  background-color: #fff;
}
.active_tab{
  border-bottom: 1px solid #28b78d!important;
}
.main_container{
    width: 940px;
    max-width: 90%;
    margin: 116px auto 160px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1)
}
.header{
  display: block;	
  position: relative;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  margin: 0px;
  padding: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.header_prefluid{
  z-index: 10;
  pointer-events: auto;
  min-width: 320px;
  height: 88px;
  padding: 20px 0;
}
.header_fluid{
  z-index: 10;
  width: 100%;
  max-width: 1709px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
.header_logo{
  display: inline-block;
  height: auto;
  width: auto;
  max-width: 192px;
  max-height: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.logo{
  height: 120px;
  width: 170px;
  display: block;
  margin: 40px 130px 50px 140px;
  cursor: pointer;

}
.fluid_container{
    width: 100%;
    max-width: 1709px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}


.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
}
.error{
  width: 940px;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}
.b1{background-color: #fff;}
.b2{background-color: #fff;}
.b3{background-color: #fff;}
.b4{background-color: #fff;}


.btn_color{
  background-color:#28b78d!important;
  border-color: #28b78d!important;
}
.btn_back{
margin-left: 22%;
margin-top: -16%;
}
.fas_left{
  transform:rotateY(180deg)!important;
}
.search_bar{
  width: 250px!important;
  height: 40px!important;
  display: inline-block!important;
  border-radius: 0px!important;
  margin-left: 400px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.search_btn{
  height: 40px!important;
  width: 40px!important;
  margin-bottom: 4px!important;
  margin-left: 650px!important;
  border-radius: 0px!important;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.a_box{
  margin: 0px 0px 0px 800px;
  position: relative;
  display: block;
  align-items: center;
  height: 48px;
  font-size: 140
  letter-spacing: -.4px;
  color: #0d0d0d;
  padding: 0px 15px 7px 40px;
  padding-left: 42px;
  font-weight: 500;
}
.icon{
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 28px;
  line-height: 1;
  text-decoration: none;
  transform: translateY(-50%);
}
.h_span{
  overflow: hidden;
  text-overflow: ellipsis;
}
.a_box_ad{
  display: block;
  margin: -40px 0px 0px 950px;
  position: relative;
  align-items: center;
  height: 48px;
  font-size: 140
  letter-spacing: -.4px;
  color: #0d0d0d;
  padding: 0px 0px 15px 0px;
  padding-left: 42px;
  font-weight: 500;
}
.icon_ad{
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 28px;
  line-height: 1;
  text-decoration: none;
  transform: translateY(-50%);
}
.a_box_logout{
  display: block;
  margin: -45px 0px 0px 1670px;
  position: relative;
  align-items: center;
  height: 48px;
  font-size: 140;
  letter-spacing: -.4px;
  color: #0d0d0d;
  padding: -2px 0px 15px 0px;
  padding-left: 42px;
  font-weight: 500;
}
.icon_logout{
  position: absolute;
  top: 20%;
  left: 10px;
  font-size: 28px;
  line-height: 1;
  text-decoration: none;
  transform: translateY(-50%);
}
.filtr_container
{
  display: block;
  float: left;
  width: 15%;
  height: 310px;
  margin: 40px 0px 0px 30px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1)
}
.new_ad_box
{
  display: block;
  background-color: #fff;
  width: 1200px;
  height: 168px;
  margin: 40px 0px 0px 500px;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  padding: 8px 8px 8px 8px;
  z-index: auto;
  position: relative;
}
.new_ad_box_after{
  display: block;
  background-color: #fff;
  width: 1200px;
  height: 180px;
  margin: 40px 0px 0px 500px;
  position: absolute;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
}
.h1_fluid
{
  display: block;
  position: relative;
  width: 60%;
  height: 70px;
  margin: 40px 0px 0px 500px;
}
.ad_img
{
  width:  216px;
  height: 152px;
  object-fit: cover;
  float: left;
  position: absolute;
  z-index: 6!important;
  z-index: auto;
}
.ad_text{
  display: block;
  margin: 0px 0px 0px 230px;
  width: 300px;
  font-weight: 400;
  color: #002f34;
  z-index: auto;
}
.collapsible{
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px;
  height: 40px;
  background-color: white;
  text-align: left;
  z-index: auto;
  margin-top: 15px;
}
.active, .collapsible:hover {
  border:2px solid;
  border-color: #f2f2f2;
}
.content {
  
  display: none;
  background-color: white;
  z-index: 10!important;
  overflow: hidden;
  text-overflow: ellipsis!important;
  word-wrap: break-word;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  padding: 2px 2px 2px 2px;
}
#index{
  z-index: 4;
}
.icon_col{
  display: block!important;
  margin: 0 auto;
  width: 2%;
  font-size: 28px;
}
.logon{
  display: inline-block;
  text-align: center;
}
.add_ad
{
  display: block;
  background-color: #fff;
  width: 1200px;
  height: 400px;
  margin: 40px 0px 0px 500px;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  padding: 20px 20px 20px 40px;
  z-index: auto;
  position: relative;
}
.add_font{
  font-size: 20;
}
.add_ad2
{
  display: block;
  background-color: #fff;
  width: 1200px;
  height: 300px;
  margin: 40px 0px 0px 500px;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  padding: 20px 20px 20px 40px;
  z-index: auto;
  position: relative;
}
.error_box{
  box-shadow: 0 0 8px 0 rgba(255,0,0);
}
.btn_float{
  margin-top: 10px;
  float: right;
}
.btn_up{
  display: block;
  bottom: 60px;
  right: 50px;
  float: right;
  position: relative;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
